<div class="row jc-space-around">
            <a href="/">
                <picture>
                    <source srcset="/images/pent_up_text_logo 3.webp" type="image/webp">
                    <img class="pentup-logo" src="/images/pent_up_text_logo 3.png" alt="Pent Up!">
                </picture>
            </a>
        </div>