<div id="mobile-menu">
        <span></span>
    </div>

    <div id="menu">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="/dates">Shows</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    