<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<body>

    <div class="container">

        <div class="row space-around">
            <a href="/" target="_blank">
                <img class="pentup-logo" src="/images/pent_up_logo_transparent.png" alt="Pent Up!">
            </a>
        </div>



        <%- include('partials/copyright'); -%>

    </div>
</body>
</html>