<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<script src="//widget.songkick.com/10191154/widget.js" defer></script>

<body>
    <div class="container">

        <div class="row space-around">
            <a href="/" target="_self">
                <img class="pentup-logo" src="/images/pent_up_logo_small.png" alt="Pent Up!">
            </a>
        </div>

        <div id="shows" class="row center">

            <div class="title row center">
                <span>Upcoming shows</span>
                <img id="songkick" src="/images/songkick/powered-by-sk/powered-by-songkick-white.png" alt="Powered by Songkick">
            </div>

            <div id="upcoming-shows" class="column center">
                <img class="loading" src="/images/loading.gif" alt="..loading...">
            </div>

            <hr>

            <div class="title row center">
                <span>Past shows</span>
                <img id="songkick" src="/images/songkick/powered-by-sk/powered-by-songkick-white.png" alt="Powered by Songkick">
            </div>

            <div id="past-shows" class="column center">
                <img class="loading" src="/images/loading.gif" alt="..loading...">
            </div>

            <hr>




            <div id="past-shows" class="column center">
                <div class="show-headers row space-around">
                    <span>Date</span>
                    <span>Venue</span>
                    <span>Location</span>
                </div>

                <div class="show column glow bkg-glass space-around">
                    <div class="show-info row space-around">
                        <span class="show-date">7/04/2022</span>
                        <span class="show-venue">Showbox SoDo</span>
                        <span class="show-location">Seattle, WA</span>
                    </div>
                    <div class="downarrow row space-around">
                        <img src="/images/icons/icon-downarrow.png" style="width: 10px; opacity: .5;" alt="down arrow">
                    </div>

                </div>
                


                <!-- <div class="bkg-glass glow show row space-around">
                    <div class="date">7/04/2022</div>
                    <div class="venue">
                        <span>Showbox SoDo</span>
                        <span>&#8964;</span></div>
                    <div class="event">
                        <span>Seattle, WA</span>
                    </div>
                </div> -->
            </div>
            





        </div>



        <div class="row center"><% const thisYear = new Date().getFullYear(); %>
            <span class="copyright">&copy;<%- thisYear %>, Pent Up! All rights reserved.</span>
        </div>
    </div> 
    
</body>
</html>