<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<script src="//widget.songkick.com/10191154/widget.js" defer></script>

<body>
    <div class="container">

        <div class="row space-around">
            <a href="http://www.pentup.band" target="_self">
                <img class="pentup-logo" src="/images/pent_up_logo_small.png" alt="Pent Up!">
            </a>
        </div>

        <div class="row space-around">
        <a href="https://www.songkick.com/artists/10191154" class="songkick-widget" data-theme="dark" data-detect-style="true" data-background-color="transparent" data-locale="en">Show Dates</a>
        </div>

        <div class="row center"><% const thisYear = new Date().getFullYear(); %>
            <span class="copyright">&copy;<%- thisYear %>, Pent Up! All rights reserved.</span>
        </div>
    </div> 
    
</body>
</html>