<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<script src="//widget.songkick.com/10191154/widget.js" defer></script>

<body>
    <div class="container">

        <div class="row jc-space-around">
            <a href="/" target="_self">
                <img class="pentup-logo" src="/images/pent_up_logo_transparent.png" alt="Pent Up!">
            </a>
        </div>
        
        <section id="shows" class="row jc-center">

            <div class="title row jc-center">
                <span>Current shows</span>
            </div>

            <div id="current-shows" class="">
                <img class="loading" src="/images/loading.gif" alt="..loading...">
            </div>

            <hr class="hidden">

            <div id="past-shows" class="">

            </div>
            <img class="songkick hidden" src="/images/songkick/powered-by-sk/powered-by-songkick-white.png" alt="Powered by Songkick">

        </section>
        <%- include('partials/footer'); -%>
    </div>

</body>

</html>