<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<body>

    <%- include('partials/mobile-menu'); -%>
    <div class="container">

        
    <%- include('partials/header-logo'); -%>

    <div class="row jc-center menubar">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="/dates">Shows</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
    </div>



        <%- include('partials/footer'); -%>

    </div>
</body>
</html>