<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); -%>
<body>
    <div class="container">
        <div class="row page">
            <div class="column left">
                    <div class="header">
                        <img class="pentup-logo" src="/images/pent_up_logo_dark.png" alt="Pent Up!">
                    </div>
                    <div class="artist-info">
                        <p class="heading">Artist Info</p>
                        <div class="details">
                            <p><span class="bold">Contact:</span> <a href="mailto:info@pentup.band?subject=Your press kit rocks!">info@pentup.band</a></p>
                            <p><span class="bold">Website:</span> <a href="/" target="_blank"> www.pentup.band</a></p>
                            <p><span class="bold">Genre:</span> Alternative Punk Rock</p>
                            <p><span class="bold">Hometown:</span> Seattle, WA</p>
                            <p><span class="bold">Influences:</span> Social Distortion, Dinosaur Jr., Foo Fighters, Green Day</p>
                            <p class="heading">The Band</p>
                            <p><span class="bold">Brendan Honeycutt:</span> Guitar & Vox</p>
                            <p><span class="bold">Nate Oelrich:</span> Drums & Backing Vox</p>
                            <p><span class="bold">Jay Barrett:</span> Bass & Backing Vox</p>
                            <p class="heading">Self-Titled [Single]</p>
                            <a href="https://open.spotify.com/album/1C6JopXSxtcQ5nDeDLRP5i?si=bd74S8efQya0N5ErN4C-2w" target="_blank"> <img src="/images/self-titled_single_cover.png" alt="Self-Titled" class="album-art"></a>
                            <span class="stream">[&nbsp;<a href="https://open.spotify.com/album/1C6JopXSxtcQ5nDeDLRP5i?si=bd74S8efQya0N5ErN4C-2w" target="_blank">Spotify</a>&nbsp;|&nbsp;<a href="https://music.apple.com/us/album/self-titled-single/1613297938" target="_blank">Apple Music</a>&nbsp;]</span>
                            <p><span class="bold">Release Date:</span> March 11th, 2022</p>
                            <p>Distribution via DistroKid, available on all major streaming platforms.</p>
                        </div>
                    </div>
            </div>
            <div class="column right">
                <div class="header">
                    <img src="/images/pent_up_band_photo.jpg" alt="Pent Up!" class="band-photo">
                </div>
                <div class="artist-bio">
                    <p>Pent Up! was born in 2021 amid the boredom and
                    isolation of COVID-19 quarantine restrictions.
                    Prior to the pandemic shutdown, Nate and
                    Brendan had met at an open mic night and had
                    discussed getting together to jam. Then the world
                    ended. Fast forward to present day and the dawn
                    of the new world, the jam session finally
                    occurred... Songs were written, beers were drunk,
                    demos were recorded, and the story began.</p>
                    <p>The trio combines driving rhythms and catchy
                    songcraft with punk energy and abandon. Their
                    music echoes hints of Dinosaur Jr., Foo Fighters,
                    Green Day, and Social Distortion... also Gin
                    Blossoms — they don't even know how or why.</p>
                    <p>It can be said that no one is ever bored at a Pent
                    Up! show. The band delivers a high-energy
                    performance with wit and humor sprinkled
                    liberally throughout the set, leaving the audience
                    captivated, entertained, and motivated to spend a
                    lot of money at the bar, tipping the bartenders
                    with extraordinary generosity.</p>
                    <p>The debut single, Self-Titled, was released on all
                    major platforms on 3/11/2022. The band has
                    enjoyed the warm reception with which it has been
                    met, and is looking forward to their first 32-cent
                    royalty check arriving in the mail.</p>
                    <p>Also, their moms say they're handsome.</p>
                    <p>...all of them.</p>
                    <p>XOXO, Pent Up!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row jc-center">
        <p class="download"><a href="/downloads/pent_up_press_kit_2022-03-11.pdf" download>Download PDF</a></p>
    </div>
    
    <%- include('partials/socials'); -%>
    <%- include('partials/copyright'); -%>

</body>
</html>