<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/press.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pent Up! | Press Pack</title>
</head>
<body class="container">
    <div class="row">
        <div class="column">
            <h3>We are Pent-Up!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus gravida tortor, vel luctus ipsum eleifend quis. Aenean feugiat quam sit amet maximus maximus. Proin sed tempus sapien. Cras maximus turpis orci, eu sollicitudin ipsum blandit suscipit. Duis vulputate eu ipsum at mattis. In faucibus blandit odio, at euismod purus imperdiet eget. Curabitur vitae iaculis justo. Nulla eleifend tincidunt erat, quis vulputate lorem. Ut volutpat interdum egestas. Vestibulum sed feugiat erat. Aliquam sed tellus ipsum. Nam at molestie sapien. Maecenas malesuada sit amet libero nec consectetur. Fusce tincidunt nisl nec convallis varius. Morbi non libero porta, tincidunt nisl in, auctor nunc.
            </p>
        </div>
        <div class="column">
            <div class="img-box">
                <img src="/images/pent_up_logo.png" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="img-box">
                <img src="/images/pent_up_logo.png" >
            </div>
        </div>
        <div class="column">
            <h3>Streaming!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus gravida tortor, vel luctus ipsum eleifend quis. Aenean feugiat quam sit amet maximus maximus. Proin sed tempus sapien. Cras maximus turpis orci, eu sollicitudin ipsum blandit suscipit. Duis vulputate eu ipsum at mattis. In faucibus blandit odio, at euismod purus imperdiet eget. Curabitur vitae iaculis justo. Nulla eleifend tincidunt erat, quis vulputate lorem. Ut volutpat interdum egestas. Vestibulum sed feugiat erat. Aliquam sed tellus ipsum. Nam at molestie sapien. Maecenas malesuada sit amet libero nec consectetur. Fusce tincidunt nisl nec convallis varius. Morbi non libero porta, tincidunt nisl in, auctor nunc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3>Live Perfomances!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus gravida tortor, vel luctus ipsum eleifend quis. Aenean feugiat quam sit amet maximus maximus. Proin sed tempus sapien. Cras maximus turpis orci, eu sollicitudin ipsum blandit suscipit. Duis vulputate eu ipsum at mattis. In faucibus blandit odio, at euismod purus imperdiet eget. Curabitur vitae iaculis justo. Nulla eleifend tincidunt erat, quis vulputate lorem. Ut volutpat interdum egestas. Vestibulum sed feugiat erat. Aliquam sed tellus ipsum. Nam at molestie sapien. Maecenas malesuada sit amet libero nec consectetur. Fusce tincidunt nisl nec convallis varius. Morbi non libero porta, tincidunt nisl in, auctor nunc.
            </p>
        </div>
        <div class="column">
            <div class="img-box">
                <img src="/images/pent_up_logo.png" >
            </div>
        </div>
    </div>
</body>
</html>

