@import url('/css/default.css');

/* Elements */
hr {
    border: none;
    border-top: 8px dotted;
    color: #3c5b74;
    margin: 35px;
    width: 55px;
}

/* IDs */
#songkick {
    align-self: center;
    height: 30px;
    opacity: 0.85;
}

.title {
    width: 100%;
    font-size: 1.05em;
    align-self: flex-end;
    margin-bottom: 12px;
}

.title span {
    display: inline-block;
    align-self: flex-end;
    margin-bottom: 3px;
    margin-right: 13px;
}

#upcoming-shows,
#past-shows {
    width: 100%;
    font-size: 0.75em;
}

/* Classes */
.date,
.show-headers span:nth-of-type(1) {
    width: 27%;
}

.loading {
    margin: 50px auto;
    width: 75px;
}

.pentup-logo {
    margin: 10px;
    position: relative;
    width: 225px;
    z-index: 0;
}

.show-headers {
    font-size: 0.95em;
}

.show-headers span {
    display: flex;
    padding-left: 5px;
    text-align: left;
}

.show-headers span:last-child {
    padding-right: 5px;
    text-align: right;
}

.show {
    height: 45px;
    margin: 4px auto 10px;
    width: 100%;
    border: 1px solid;
    border-color: #bfc3cc #d2d5db #e5e7ea;
    text-shadow: 0 0 0 #000;
}

.show div {
    line-height: 22px;
    padding-left: 5px;
    text-align: left;
}

.show img {
    align-self: center;
}

.event,
.show-headers span:nth-of-type(3) {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 23%;
}

.event img {
    color: white;
    width: 20px;
    opacity: 0.75;
}

.venue,
.show-headers span:nth-of-type(2) {
    width: 50%;
}

.venue div {
    height: 25px;
    padding: 0;
}

.venue span {
    display: block;
}

.venue span:first-child {
    font-size: 1.15em;
    font-weight: 700;
}

.venue span:last-child {
    font-size: 0.85em;
    font-weight: 300;
    color: #ccc;
}

.downarrow {
    line-height: 10px;
}