@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Special+Elite&display=swap');

/* Elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

/* Flex Classes */
.jc-center {
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

.container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    text-align: center;
    width: 100%;
}

.icons {
    width: 100%;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-evenly {
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
}

/* IDs */
#email-address {
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #868e9f #6b7487 #555b6a;
    box-shadow: inset 1px 1px 6px #aaa;
    display: inline;
    font-size: 16px;
    height: 100%;
    margin: 0;
    outline: none !important;
    padding: 5px;
    resize: none;
    width: 70%;
}

#email-address::placeholder,
#email-address::-ms-input-placeholder {
    color: #bfc3cc;
}

#footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-image: radial-gradient(circle at center, #bbb, #111);
    border-image-slice: 1;
    margin: auto;
    padding: 0 15px;

}

#socials {
    width: 100%;
    justify-content: space-around;
}


#subscribe {
    width: 100%;
    height: 40px;
}

/* Classes */
.bkg-glass {
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, .65)), url("../images/black_glass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.glow {
    box-shadow: 0 0 60px 5px #253847;
}

.button {
    border: 1px solid;
    border-color: #e5e7ea #d2d5db #bfc3cc;
    border-radius: 10px;
    color: #f7f7f7;
    cursor: pointer;
    font-family: 'Special Elite', sans-serif;
    height: 47px;
    line-height: 47px;
    margin: 15px auto;
    text-shadow: 0 0 0 #000;
    transition: all 0.25s ease-in-out;
    width: 330px;
}

.button:hover,
.button:active {
    border-color: #eeeff2 #dbdee3 #c9ccd3 !important;
    color: #fff !important;
    text-shadow: 0 0 10px #555c6a !important;
}

.copyright span {
    font-size: 12px;
    margin: 15px;
}

.hidden {
    display: none !important;
}

.newsletter {
    margin: 20px auto !important;
    font-size: 17px !important;
}

.newsletter span {
    width: 100%;
    text-align: justify;
    margin-bottom: 5px;
    position: relative;
}

.pentup-logo {
    position: relative;
    margin: 25px 10px 10px 10px;
    width: 250px;
    z-index: 0;
}

/* .pentup-logo-text {
    position: relative;
    margin: 10px;
    width: 250px;
    z-index: 0;
} */

.social-icon {
    height: 45px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid;
    border-color: #868e9f #6b7487 #555b6a;
    border-left: none;
    border-radius: 0 10px 10px 0;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    line-height: 35px;
    outline: none !important;
    text-shadow: 0 0 0 #000;
    width: 30%;
}

#mobile-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 10px;
    overflow: visible;
    position: absolute;
    z-index: 2;
}

#mobile-menu span,
#mobile-menu span:before,
#mobile-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#mobile-menu span:before,
#mobile-menu span:after {
    content: "";
}

#mobile-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}

#mobile-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}

#mobile-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}

#mobile-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

#mobile-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#mobile-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.75);
}

#menu li {
    list-style: none;
}

#menu a {
    font-family: 'Inter', sans-serif;
    color: #fff;
    display: block;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-decoration: none;
}

.menubar {
    color: #eee;
    display: inline-block;
    margin-bottom: 10px;
}

.menubar li {
    display: inline;
}

.menubar a {
    border-bottom: 1px solid transparent;
    color: #e6e6e6;
    display: inline-block;
    line-height: 18px;
    margin: 1px 7px 0;
    padding: 0 4px 2px 0;
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.2s;
}

.menubar a:hover,
.menubar a:active {
    color: white;
    border-bottom: 1px solid purple;
}

.menubar ul {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 400;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}


/* iPhone X Landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    #footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #footer div {
        padding: 0 !important;
    }

    #footer .social-icon {
        height: 35px;
    }

    .footer-tile {
        height: 70px;
        align-items: flex-end;
    }

    .copyright {
        height: 30px;
    }

    #socials {
        width: 35% !important;
    }

    .newsletter {
        width: 60%;
    }
}

/* Small phone screen sizes, from 0 to 320px */
@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 375px) {
    .button {
        width: 330px;
    }
}

/* Small phone screen sizes, from 0 to 480px */
@media only screen and (min-width: 480px) {}

/* SCREEN SIZE LESS THAN 767PX */
@media only screen and (min-width: 767px) {}


/* SCREEN SIZE LESS THAN 920PX */
@media only screen and (min-width: 920px) {
    #footer {
        flex-direction: row;
        padding: 0 25px;
        justify-content: space-around;
    }

    #footer div {
        padding: 10px;
    }

    #footer :nth-child(1) {
        order: 1;
    }

    #footer :nth-child(2) {
        order: 3;
    }

    #footer :nth-child(3) {
        order: 2;
    }

    #footer #subscribe {
        height: 30px;
        line-height: 30px;
    }

    #footer #socials {
        justify-content: center;
        padding: 0 0 5px;
    }

    #footer .footer-tile {
        align-items: flex-end;
        display: flex;
        height: 80px;
        padding-top: 15px;
    }

    #footer .newsletter {
        margin: 0 !important;
        padding-bottom: 10px;
    }

    #footer .newsletter span {
        font-size: 16px;
        margin-bottom: 0;
    }

    #footer .social-icon {
        height: 30px;
        padding: 0 8px;
    }

    #footer .submit-btn {
        line-height: 25px;
    }

    .copyright span {
        margin: 0;
    }
}

/* SCREEN SIZE LESS THAN 1024PX */
@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

/* SCREEN SIZE LESS THAN 1080PX */
@media only screen and (min-width: 1079px) {
    .container {
        width: 1079px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


