@import url('/css/default.css');

/* body {
    margin: 0;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
} */

#mobile-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 10px;
    overflow: visible;
    position: absolute;
    z-index: 2;
}

#mobile-menu span,
#mobile-menu span:before,
#mobile-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#mobile-menu span:before,
#mobile-menu span:after {
    content: "";
}

#mobile-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}

#mobile-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
}

#mobile-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
}

#mobile-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}

#mobile-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}

#mobile-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.75);
}

#menu li {
    list-style: none;
}

#menu a {
    font-family: 'Inter', sans-serif;
    color: #fff;
    display: block;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-decoration: none;
}

.menubar {
    color: #eee;
    display: inline-block;
    margin-bottom: 10px;
}

.menubar li {
    display: inline;
}

.menubar a {
    border-bottom: 1px solid transparent;
    color: #e6e6e6;
    display: inline-block;
    line-height: 18px;
    margin: 1px 7px 0;
    padding: 0 4px 2px 0;
    text-decoration: none;
    transition: color 0.2s, border-bottom 0.2s;
}

.menubar a:hover,
.menubar a:active {
    color: white;
    border-bottom: 1px solid purple;
}

.menubar ul {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 400;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
}