@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Special+Elite&display=swap');

/* ELEMENTS */
a:link,
a:visited {
    color: #000;
    text-decoration: none;
        border-bottom: 1px dotted #bbb;
}

a:hover,
a:active {
    color: #000;
}

body {
    background-color: #272626;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

p {
    margin: 1.8px 0;
}

#socials {
    margin: 35px auto 0;
    width: 275px;
    justify-content: space-around;
}

#socials a {
    border: none;
}

/* CLASSES */
.album-art {
    display: block;
    width: 80%;
    border: 1px solid grey;
    align-self: center;
    margin: 15px auto 5px;
}

.artist-bio,
.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}

.artist-bio {
    font-size: 0.9em;
    text-align: justify;
}

.artist-bio p {
    margin-bottom: 15px;
}

.artist-info {
    padding: 0 10px 15px;
    border: 1px solid #e6e6e6;
    background-color: #f3f2f2;
    font-size: 0.8em;
    box-shadow: 0 8px 16px -12px black;
}

.band-photo {
    box-shadow: 0 8px 16px -8px black;
    height: 230px;
}

.bold {
    font-weight: 700;
}

.center {
    margin: auto;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.copyright {
    color: #fff;
    font-size: 12px;
    margin: 35px;
}

.download {
    color: #fff;
}

.download a:link,
.download a:visited {
    color: #ddd;
}

.download a:hover,
.download a:active {
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 250px;
}

.heading {
    border-bottom: 2px dotted #3576b6;
    color: #3576b6;
    font-family: 'Special Elite', sans-serif;
    font-size: 1.4em !important;
    margin: 25px auto 10px;
    padding-bottom: 3px;
    text-align: left;
    width: 100%;
}

.heading:first-of-type {
    margin-top: 15px;
}

.left {
    width: 43%;
}

.page {
    display: flex;
    margin: 50px auto 5px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 20px;
}

.pentup-logo {
    height: 250px;
}

.right {
    width: 57%;
}

.row {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
}

.social-icon {
    height: 35px;
    cursor: pointer;
}

.stream {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;    
    color: #666;
}

.stream a {
    color: #3576b6;
}

/* Small phone screen sizes, from 0 to 480px */
@media only screen and (max-width: 480px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .row {
        width: 480px;
    }

}

/* iPhone X Landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .artist-bio {
        font-size: 0.85em;
    }

    .page {
        margin: 10px auto 5px !important;
    }

    .row {
        width: 750px;
    }
}

@media only screen and (min-device-width : 320) and (max-device-width : 568) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .artist-bio {
        font-size: 0.85em;
    }

    .page {
        margin: 10px auto 5px !important;
    }

    .row {
        width: 560px;
    }
}

@media only screen and (max-width: 390px) {
    .artist-bio,
    .artist-info {
        margin: 25px 0;
    }

    .header {
        height: 220px;
    }

    .band-photo {
        height: 190px;
    }

    .page {
        margin: 10px auto 5px !important;
    }

    .pentup-logo {
        height: 220px;
    }

    .left {
        width: 95%;
    }

    .right {
        width: 95%;
    }

    .row {
        width: 320px;
    }
}

@media only screen and (max-width: 320px) {
    .artist-bio,
    .artist-info {
        margin: 5px 0;
    }

    .band-photo {
        height: 160px;
    }

    .left {
        width: 95%;
    }
    
    .page {
        margin: 5px auto 5px !important;
        padding: 5px;
    }

    .pentup-logo {
        height: 200px;
    }
    
    .right {
        width: 95%;
    }

    .row {
        width: 300px;
    }
}