@import url('/css/default.css');

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 24px;
    margin: 15px;
}

/* IDs */
#streaming {
    width: 375px;
}

/* Classes */
.buttons {
    font-size: 1.1em;
    margin: 3px auto;
    text-align: center;
}

.hidden {
    display: none !important;
}

.listen-btn {
    display: block;
    margin: 5px 5px;
    max-width: 160px;
}

.more {
    cursor: pointer;
    display: block;
    font-size: .75em;
    margin-top: 5px;
    text-shadow: 1px 1px 5px #000;
}

.news span {
    position: relative;
    font-size: 1.05em;
    margin: auto;
    text-shadow: 0 0 0 #000;
    width: 310px;
    overflow: hidden;
    top: -10px;
}

/* iPhone X Landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    #streaming {
        width: 600px !important;
    }
}

/* Small phone screen sizes, from 0 to 320px */
@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 375px) {

}

/* Small phone screen sizes, from 0 to 480px */
@media only screen and (min-width: 480px) {
        #streaming {
            width: 100%;
        }
}

@media only screen and (min-width: 600px) {
    #streaming {
        width: 600px;
    }
}

/* SCREEN SIZE MORE THAN 767PX */
@media only screen and (min-width: 767px) {

}


/* SCREEN SIZE MORE THAN 920PX */
@media only screen and (min-width: 920px) {}


/* SCREEN SIZE MORE THAN 1024PX */
@media only screen and (min-width: 1024px) {}

/* SCREEN SIZE MORE THAN 1080PX */
@media only screen and (min-width: 1079px) {}

/* SCREEN SIZE MORE THAN 1080PX */
@media only screen and (min-width: 1200px) {}