@import url('/css/default.css');

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 24px;
    margin: 15px;
}

/* Classes */
.buttons {
    font-size: 22px;
    margin: 3px auto;
    text-align: center;
}

.hidden {
    display: none !important;
}

.icons {
    font-size: 40px;
    line-height: 30px;
    margin: 10px auto 5px auto;
    width: 310px;
}

.listen-btn {
    display: block;
    margin: 5px 5px;
    max-width: 150px;
}

.more {
    cursor: pointer;
    display: block;
    font-size: .75em;
    margin-top: 5px;
    text-shadow: 1px 1px 5px #000;
}

.pentup-logo {
    position: relative;
    margin: 10px;
    width: 225px;
    z-index: 0;
}

.social-icon {
    height: 40px;
    cursor: pointer;
}

.news span {
    position: relative;
    font-size: 1.05em;
    margin: auto;
    text-shadow: 0 0 0 #000;
    width: 310px;
    overflow: hidden;
    top: -10px;
}